@page
@model WebApp.Pages_Locations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Item Locations</h1>

<p>
    <a asp-page="Create">Add New Location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
